{% extends "base.html" %} {% block content %}
<br />
<div class="jumbotron">
  <h1><img src="/static/img/flask.png" height="80px" /> Virtualization Demo App</h1>

  <div class="lead">
    This is a simple web application written in Python and using Flask. .This will give you the quick access to the
    humber blackboard and the My Humberlogin to the
    students.

  </div>
  <br />

  <div class="dimmed-box">
    <p>
      <img src="static/img/blackboard.png" class="icon" />
      <a href="https://learn.humber.ca/ultra/course" target="_blank" class="btn btn-info btn px-4"> Humber Blackboard
      </a>

      &nbsp;&nbsp;&nbsp;
      <img src="static/img/humber.png" class="icon" />
      <a href="https://humber.ca/myhumber/myhumber" target="_blank" class="btn btn-info btn">
        My Humber Login
      </a>
    </p>
    <hr />
    <p>
      <img src="static/img/vcloud.png" class="icon" />
      <a class="btn btn-info btn" target="_blank" href="https://fast-vcloud.humber.ca/tenant/CCGC-5001/">
        Virtualization V Cloud
      </a>
    </p>

    <br />
    <p>Humber Virtualization Demo</p>
  </div>
</div>
{% endblock %}